<%- include("header") %>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta
  inventore repudiandae maxime minus molestias omnis ducimus eligendi assumenda
  natus iure, sit velit optio! Ut illo temporibus, consectetur sunt fuga eum.
  Maxime provident modi error ex, cum illo quis, non consectetur beatae
  cupiditate harum, quia sunt nulla voluptate a eos.
</p>

<%- include("footer") %>
